* text=auto eol=lf

# Los scripts .bat de Windows deben conservar CRLF para ejecutarse bien en cmd.exe.
*.bat text eol=crlf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
